// Исходные цвета
$light-aquamarine-50: #eefffa;
$light-aquamarine-100: #c3fff4;
$light-aquamarine-200: #87ffea;
$light-aquamarine-300: #43ffde;
$light-aquamarine-400: #0bf4cd;
$light-aquamarine-500: #00d8b6;
$light-aquamarine-600: #00ae96;
$light-aquamarine-700: #008a79;
$light-aquamarine-800: #026d62;
$light-aquamarine-900: #085951;
$light-aquamarine-950: #003734;

