button {
    padding: 12px 24px;
    background-color: #008a79;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}
